In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-macosx_10_9_x86_64.whl (12.6 MB)
     |████████████████████████████████| 12.6 MB 4.7 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/silvananavarro/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 43.8 MB/s eta 0:00:01
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_x86_64.whl (6.9 MB)
     |████████████████████████████████| 6.9 MB 15.3 MB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     |████████████████████████████████| 347 kB 49.4 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('src/data.csv')

In [11]:
df[['gross income','Product line','Branch']].groupby(['Product line','Branch']).sum().reset_index()

              Product line Branch  gross income
0   Electronic accessories      A      872.2435
1   Electronic accessories      B      811.9735
2   Electronic accessories      C      903.2845
3      Fashion accessories      A      777.7385
4      Fashion accessories      B      781.5865
5      Fashion accessories      C     1026.6700
6       Food and beverages      A      817.2905
7       Food and beverages      B      724.5185
8       Food and beverages      C     1131.7550
9        Health and beauty      A      599.8930
10       Health and beauty      B      951.4600
11       Health and beauty      C      791.2060
12      Home and lifestyle      A     1067.4855
13      Home and lifestyle      B      835.6745
14      Home and lifestyle      C      661.6930
15       Sports and travel      A      922.5095
16       Sports and travel      B      951.8190
17       Sports and travel      C      750.5680